
$secondary-color: #f44336;
$sidenav-font-size: 16px;

@import "mixins";
@import "../materialize/sass/materialize";

header {
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    min-height: 700px;
    @include mQ(680px) {
        min-height: 400px;
    }
}

nav {
    .material-tooltip .backdrop {
        background-color: #1a237e;
    }    
}

.highlight {
    font-family: "Caveat", sans-serif;
    font-size: 110%;
    color: $secondary-color;
}

.section {
    padding-top: 4vw;
    padding-bottom: 3vw;
}

.tabs .indicator {
    background-color: #283593;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background: #e9f1fe;
}

.company-name {
    font-weight: bold;
}

.options {
    padding-top: 15px;
}

.social {
    list-style-type: none;
    width: 100%;
    li {
        display: inline;
        padding: 30px 15px 0;
        cursor: pointer;
    }
    a {
        font-size: 2.3em;
    }
}

footer {
    .row {
    margin-bottom: 20px;
    }
}
